.p-dialog .p-dialog-header .p-dialog-header-icons {
  display: none;
}

.p-datatable .p-datatable-tbody .editing-row {
  background: rgb(194, 198, 230)   !important;
  /* Dodajte ostale stilove prema potrebi */
}

.highlight-row-green {
  background-color: #8EF6A6 !important; /* Dodajte svoju željenu boju za zelenu */
}

.highlight-row-blue {
  background-color: #8E95F6 !important; /* Dodajte svoju željenu boju za plavu */
}

.highlight-row-1 {
  background-color: rgb(162, 129, 184) !important;  /* Dodajte svoju željenu boju za zelenu */
}

.highlight-row-2 {
  background-color: rgb(130, 132, 134) !important;  /* Dodajte svoju željenu boju za plavu */
}

.highlight-row-3 {
  background-color: rgb(241, 239, 144) !important; /* Dodajte svoju željenu boju za zelenu */
}

.highlight-row-4 {
  background-color: rgb(216, 123, 154) !important; /* Dodajte svoju željenu boju za plavu */
}

.highlight-row-5 {
  background-color: rgb(160, 99, 20) !important;  /* Dodajte svoju željenu boju za zelenu */
}

.highlight-row-6 {
  background-color: rgb(93, 206, 181) !important; /* Dodajte svoju željenu boju za plavu */
}

.highlight-row-7 {
  background-color: rgb(252, 252, 252) !important;/* Dodajte svoju željenu boju za zelenu */
}

.highlight-row-8 {
  background-color: rgb(216, 63, 71) !important; /* Dodajte svoju željenu boju za plavu */
}

.highlight-row-9 {
  background-color: rgb(1, 20, 129)!important; /* Dodajte svoju željenu boju za zelenu */
}

.highlight-row-10 {
  background-color: rgb(186, 201, 53) !important; /* Dodajte svoju željenu boju za plavu */
}

.highlight-row-11 {
  background-color: #736161c4 !important; /* Dodajte svoju željenu boju za zelenu */
}

.highlight-row-12 {
  background-color: #636bd8ba !important; /* Dodajte svoju željenu boju za plavu */
}