.p-dialog .p-dialog-header .p-dialog-header-icons {
  display: none;
}

.p-datatable .p-datatable-tbody .editing-row {
  background: rgb(194, 198, 230)   !important;
  /* Dodajte ostale stilove prema potrebi */
}

.highlight-row-green {
  background-color: #8EF6A6 !important; /* Dodajte svoju željenu boju za zelenu */
}

.highlight-row-blue {
  background-color: #8E95F6 !important; /* Dodajte svoju željenu boju za plavu */
}


.highlight-row-1 {
  background-color: #a2b5a7d9 !important; /* Dodajte svoju željenu boju za zelenu */
}

.highlight-row-2 {
  background-color: #c9ccf5cb !important; /* Dodajte svoju željenu boju za plavu */
}

.highlight-row-3 {
  background-color: #e5bee9a1 !important; /* Dodajte svoju željenu boju za zelenu */
}

.highlight-row-4 {
  background-color: #7780f8a3 !important; /* Dodajte svoju željenu boju za plavu */
}

.highlight-row-5 {
  background-color: #f6978ea5 !important; /* Dodajte svoju željenu boju za zelenu */
}

.highlight-row-6 {
  background-color: #f68ec2b1 !important; /* Dodajte svoju željenu boju za plavu */
}

.highlight-row-7 {
  background-color: #275e3495 !important; /* Dodajte svoju željenu boju za zelenu */
}

.highlight-row-8 {
  background-color: #151b747a !important; /* Dodajte svoju željenu boju za plavu */
}

.highlight-row-9 {
  background-color: #6a6b6ac6 !important; /* Dodajte svoju željenu boju za zelenu */
}

.highlight-row-10 {
  background-color: #f8f5c895 !important; /* Dodajte svoju željenu boju za plavu */
}

.highlight-row-11 {
  background-color: #736161c4 !important; /* Dodajte svoju željenu boju za zelenu */
}

.highlight-row-12 {
  background-color: #636bd8ba !important; /* Dodajte svoju željenu boju za plavu */
}