.p-dialog .p-dialog-header .p-dialog-header-icons {
  display: flex;
}

/* CSS */
.custom-row-color:nth-child(even) {
  background-color: #e9efeb; /* Promenite boju po potrebi */
}
.customa-row-color:nth-child(even) {
  background-color: #4bb6f4; /* Promenite boju po potrebi */
}

.p-datatable .p-datatable-tbody .editing-row {
  background: rgb(194, 198, 230)   !important;
  /* Dodajte ostale stilove prema potrebi */
}

.highlight-row-green {
  background-color: #8EF6A6 !important; 
}

.highlight-row-blue {
  background-color: #8E95F6 !important; 
}


.highlight-row-1 {
  background-color: #a2b5a7d9 !important; 
}

.highlight-row-2 {
  background-color: #c9ccf5cb !important; 
}

.highlight-row-3 {
  background-color: #e5bee9a1 !important; 
}

.highlight-row-4 {
  background-color: #7780f8a3 !important; 
}

.highlight-row-5 {
  background-color: #f6978ea5 !important; 
}

.highlight-row-6 {
  background-color: #f68ec2b1 !important; 
}

.highlight-row-7 {
  background-color: #275e3495 !important; 
  color: white !important;
}

.highlight-row-8 {
  background-color: #151b747a !important; 
  color: white !important;
}

.highlight-row-9 {
  background-color: #aa4fa4c6 !important; 
  color: white !important;  
}

.highlight-row-10 {
  background-color: #f8f5c895 !important; 
}

.highlight-row-11 {
  background-color: #736161c4 !important; 
  color: white !important;  
}

.highlight-row-12 {
  background-color: #636bd8ba !important; 
  color: white !important;  
}

.highlight-row-13 {
  background-color: rgba(110, 115, 97, 0.714) !important; 
  color: white !important;
}

.highlight-row-14 {
  background-color: #63d0d8ba !important; 
}

.highlight-row-15 {
  background-color: #f8c8c895 !important; 
}

.highlight-row-16 {
  background-color: #699f3c78 !important; 
}

.highlight-row-17 {
  background-color: rgba(216, 99, 204, 0.594) !important; 
}

.highlight-row-18 {
  background-color: #de0d0d45 !important; 
  color: white !important;
}

.highlight-row-19 {
  background-color: #d8b963ba !important; 
}

.highlight-row-20 {
  background-color: #f8c8d395 !important; 
}

.highlight-row-21 {
  background-color: rgba(16, 16, 16, 0.079) !important; 
  color: white !important;
}

.highlight-row-22 {
  background-color: #ab63d8ba !important; 
}

.highlight-row-23 {
  background-color: #7a2121c4 !important; 
  color: white !important;  
}

.highlight-row-24 {
  background-color: #63abd8ba !important; 
}

.highlight-row-25 {
  background-color: rgba(248, 245, 200, 0.5) !important; 
}

.highlight-row-26 {
  background-color: #fa6dac71 !important; 
  color: white !important;
}

.highlight-row-27 {
  background-color: #eeeff5ba !important; 
}

.highlight-row-28 {
  background-color: #8cf267c4 !important; 
}

.highlight-row-29 {
  background-color: #63d89fba !important; 
}

.highlight-row-30 {
  background-color: rgb(225, 236, 33)!important; 
}

.highlight-row-31 {
  background-color: rgb(25, 234, 25) !important;
}

.highlight-row-36 {
  background-color: rgb(102, 147, 102) !important;
  color: white !important;
}

.layout-wrapper .layout-topbar {
  top: 0;
  height: 60px;
  padding: 2px 2px;  
}

.layout-wrapper .layout-menu-container {
  height: calc(100% - 60px);
  top: 60px;
}

.layout-wrapper .layout-main {
  padding-top: 50px;
}

.card {
  padding: 1rem;
}

.fieldH {
  display: flex;
  align-items: center;
}

.fixed-height-tabpanel {
  height: 660px; 
  overflow-y: auto; 
}