.p-dialog .p-dialog-header .p-dialog-header-icons {
  display: flex;
}

/* CSS */
.custom-row-color:nth-child(even) {
  background-color: #e9efeb; /* Promenite boju po potrebi */
}
.customa-row-color:nth-child(even) {
  background-color: #4bb6f4; /* Promenite boju po potrebi */
}

.p-datatable .p-datatable-tbody .editing-row {
  background: rgb(194, 198, 230)   !important;
  /* Dodajte ostale stilove prema potrebi */
}

.highlight-row-green {
  background-color: #8EF6A6 !important; 
}

.highlight-row-blue {
  background-color: #8E95F6 !important; 
}


.highlight-row-1 {
  background-color: #7202bd !important; 
}

.highlight-row-2 {
  background-color: #828486 !important; 
}

.highlight-row-3 {
  background-color: #f1ef90 !important; 
}

.highlight-row-4 {
  background-color: #d87b9a !important; 
}

.highlight-row-5 {
  background-color: #a06314 !important; 
}

.highlight-row-6 {
  background-color: #5dceb5 !important; 
}

.highlight-row-7 {
  background-color: #fcfcfc !important; 
  color: rgb(41, 95, 17) !important;
}

.highlight-row-8 {
  background-color: #e4656b !important; 
  color: white !important;
}

.highlight-row-9 {
  background-color: #aa4fa4c6 !important; 
  color: white !important;  
}

.highlight-row-10 {
  background-color: #bac935 !important; 
}

.highlight-row-11 {
  background-color: #736161c4 !important; 
  color: white !important;  
}

.highlight-row-12 {
  background-color: #636bd8ba !important; 
  color: white !important;  
}

.highlight-row-13 {
  background-color: rgba(110, 115, 97, 0.714) !important; 
  color: white !important;
}

.highlight-row-14 {
  background-color: #63d0d8ba !important; 
}

.highlight-row-15 {
  background-color: #f8c8c895 !important; 
}

.highlight-row-16 {
  background-color: #699f3c78 !important; 
}

.highlight-row-17 {
  background-color: #d863cc97 !important; 
}

.highlight-row-18 {
  background-color: #de0d0d45 !important; 
  color: white !important;
}

.highlight-row-19 {
  background-color: #d8b963ba !important; 
}

.highlight-row-20 {
  background-color: #f8c8d395 !important; 
}

.highlight-row-21 {
  background-color: rgba(16, 16, 16, 0.079) !important; 
  color: white !important;
}

.highlight-row-22 {
  background-color: #ab63d8ba !important; 
}

.highlight-row-23 {
  background-color: #7a2121c4 !important; 
  color: white !important;  
}

.highlight-row-24 {
  background-color: #63abd8ba !important; 
}

.highlight-row-25 {
  background-color: rgba(248, 245, 200, 0.5) !important; 
}

.highlight-row-26 {
  background-color: #fa6dac71 !important; 
  color: white !important;
}

.highlight-row-27 {
  background-color: #eeeff5ba !important; 
}

.highlight-row-28 {
  background-color: #8cf267c4 !important; 
}

.highlight-row-29 {
  background-color: #63d89fba !important; 
}

.highlight-row-30 {
  background-color: rgb(225, 236, 33)!important; 
}

.highlight-row-31 {
  background-color: rgb(25, 234, 25) !important;
}

.highlight-row-36 {
  background-color: rgb(102, 147, 102) !important;
  color: white !important;
}

.layout-wrapper .layout-topbar {
  top: 0;
  height: 60px;
  padding: 2px 2px;  
}

.layout-wrapper .layout-menu-container {
  height: calc(100% - 60px);
  top: 60px;
}

.layout-wrapper .layout-main {
  padding-top: 50px;
}

.card {
  padding: 1rem;
}

.fieldH {
  display: flex;
  align-items: center;
}

.fixed-height-tabpanel {
  height: 660px; 
  overflow-y: auto; 
}


.select-button-warning .p-selectbutton .p-button {
  background-color: #f0ad4e; /* Boja za warning */
  border-color: #f0ad4e;
}

.select-button-warning .p-selectbutton .p-button.p-highlight {
  background-color: #ec971f; /* Tamnija nijansa za aktivno stanje */
  border-color: #ec971f;
}

.delivery-icon {
  transition: transform 0.2s ease; /* Glatki prelaz kada se ikona podiže */
}

.delivery-icon:hover {
  transform: scale(1.2); /* Ikona se povećava za 20% */
  cursor: pointer; /* Ikona pokazuje da je klikabilna */
}

.custom-table .p-datatable-tbody > tr > td,
.custom-table .p-datatable-thead > tr > th {
  border: solid #a8b4a9; /* Debljina i boja linija */
  color: #0d0d0e
}

.custom-table .p-datatable-thead > tr > th {
  background-color: #dfeedf; 
  font-weight: bold; /* Podebljan tekst u zaglavlju */
}

.category-cell {
  display: inline-block; /* Omogućava fleksibilnu širinu i visinu */
  border: 1px solid #a8b4a9; /* Okvir */
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #f9f9f9; /* Svetla pozadina */
  font-size: 1rem;
  /* white-space: nowrap; Sprečava prelamanje teksta */
}

.category-cell .dropdown-arrow {
  color: #335c32; /* Boja strelice */
  font-weight: bold;
  margin-left: 0.5rem;
}

.category-cell:hover {
  background-color: #e6f7ff; /* Svetloplava pozadina na hover */
  cursor: pointer;
}

/* Padajući meni za ToggleButton-e ispod 700px */
@media (max-width: 700px) {
  .dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 99999;
    width: 80%;
    max-width: 80px;
  }

  .dropdown-toggle {
    display: block !important;
  }

  .toggle-buttons-container {
    display: none;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #26292cec;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 72px !important;
  gap: 1rem;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.sidebar.open {
  transform: translateX(0);
}

/* Div koji se pomera sa Sidebar-om */
.sidebar-content {
  margin-right: 0; /* Početno stanje kada je sidebar zatvoren */
  transition: margin-right 0.3s ease-in-out;
}

.sidebar-content-open {
  margin-right: 250px; /* Pomera se sa Sidebar-om */
}

/* Sakrij standardne ToggleButton-e na malim ekranima */
@media (max-width: 700px) {
  .toggle-buttons-container {
    display: none;
  }
}

/* Dugme za Sidebar - Donji desni ugao */
.sidebar-toggle-btn {
  background: 'transparent';
  background-color: #26292c4d;
  border: 'none';
  color: '#fff';
  font-size: '1.5rem';
  cursor: 'pointer';
  width: 45px;
  height: 45px;
}
