/* .p-dialog .p-dialog-header .p-dialog-header-icons {
  display: none;
} */

.p-datatable .p-datatable-tbody .editing-row {
  background: rgb(194, 198, 230)   !important;
  /* Dodajte ostale stilove prema potrebi */
}

.opacity-01 {
  opacity: .01!important
}

.opacity-02 {
  opacity: .02!important
}

.opacity-03 {
  opacity: .03!important
}

.opacity-04 {
  opacity: .04!important
}

.opacity-05 {
  opacity: .05!important
}

.opacity-06 {
  opacity: .06!important
}

.opacity-07 {
  opacity: .07!important
}

.opacity-08 {
  opacity: .08!important
}

.opacity-09 {
  opacity: .09!important
}

.opacity-1 {
  opacity: .1!important
}

.opacity-15 {
  opacity: .15!important
}

.opacity-2 {
  opacity: .2!important
}

.opacity-3 {
  opacity: .3!important
}

.opacity-4 {
  opacity: .4!important
}

.opacity-5 {
  opacity: .5!important
}

.opacity-6 {
  opacity: .6!important
}

.opacity-7 {
  opacity: .7!important
}

.opacity-8 {
  opacity: .8!important
}

.opacity-9 {
  opacity: .9!important
}

.opacity-10 {
  opacity: 1!important
}

/*< **************TOGGLE*********************/

.toggle-button-checked {
  background-color: rgb(102, 147, 102) !important; 
  font-size: 8px !important;
  border-color: none !important;
}

.toggle-button-unchecked {
  background-color: rgb(234, 111, 111) !important; 
  font-size: 8px !important;
  border-color: none !important;
}

.toggle-button-checked.custom1,
.toggle-button-unchecked.custom1 {
  background-color: rgb(190, 66, 66) !important;
  /* font-size: 13px !important; */
  border-color: none !important;
  color:black;
}

.toggle-button-checked.custom2,
.toggle-button-unchecked.custom2 {
  background-color: rgb(200, 221, 244) !important; 
  
  border-color: none !important;
  color:black;
}

.toggle-button-checked.custom3,
.toggle-button-unchecked.custom3 {
  background-color: rgb(207, 142, 73) !important; /* Zelena za uključeno stanje */
  /* font-size: 13px !important; */
  border-color: none !important;
  color:black;
}
.toggle-button-checked.custom4,
.toggle-button-unchecked.custom4 {
  background-color: rgb(225, 236, 33) !important; /* Zelena za uključeno stanje */
  /* font-size: 13px !important; */
  border-color: none !important;
  color:black;
}
.toggle-button-checked.custom5,
.toggle-button-unchecked.custom5 {
  background-color: rgb(25, 234, 25) !important; /* Zelena za uključeno stanje */
  /* font-size: 13px !important; */
  border-color: none !important;
  color:black;
}
.toggle-button-checked.custom6,
.toggle-button-unchecked.custom6 {
  background-color: rgb(102, 147, 102) !important; /* Zelena za uključeno stanje */
  
  border-color: none !important;
  color:black;
}

.p-togglebutton.p-button .p-button-icon-left,
.p-togglebutton.p-button .p-button-icon-right {
  font-size: 14px  !important;
}

.p-togglebutton.p-button.p-highlight .p-button-icon-left,
.p-togglebutton.p-button.p-highlight .p-button-icon-right {
  font-size: 14px  !important;
}

.p-button.p-togglebutton.p-component.toggle-button-unchecked,
.p-togglebutton.p-component.p-highlight.toggle-button-checked,
.p-togglebutton.p-component.p-highlight.toggle-button-unchecked {
  color: #151414 !important; 
  font-size: 14px !important;
}
.p-togglebutton.p-button.p-highlight {

  border-color: #fdfdfd !important;
}
/*> **************TOGGLE*********************/

/* FONT */
.p-component {
  /* font-family: system-ui; */
  font-family: 'Helvetica Neue','Segoe UI',Helvetica,Arial,sans-serif;
  font-size: 13px;
}

body {
  font-family: 'Helvetica Neue','Segoe UI',Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.p-link {
  font-size: 13px;
  font-family: 'Helvetica Neue','Segoe UI',Helvetica,Arial,sans-serif;
}

.p-inputtext {
  font-family: 'Helvetica Neue','Segoe UI',Helvetica,Arial,sans-serif;
  font-size: 13px;
}

.p-checkbox .p-checkbox-box {
  width: 13px;
  height: 13px;
}

.p-button.p-button-icon-only.p-button-rounded {
  height: 1.7rem;
}

.p-button.p-button-icon-only {
  width: 1.7rem;
}
/* END FONT */
.p-dialog .p-dialog-header {
  background: #95e397;
}

.card {
  padding: 1rem;
}
.layout-wrapper.layout-topbar-blue .layout-topbar {
  background-color: #0F8C50;
}

.p-datatable .p-datatable-loading-icon {
  font-size: 7rem;
}